#create-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#create-wrapper h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 20px auto;
  background-color: var(--focus-background-color);
  border-radius: 10px;
  padding: 10px 20px;
}

#create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: var(--focus-background-color);
  padding: 40px 50px;
  border-radius: 10px;
}

#create-container label, #create-container input{
    width: 100%;
    margin: 10px 0;
}

#create-container label{
    font-size: 20px;
    font-weight: 700;
}

#create-container input{
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
}